---
layout: default
title: Dungeons and Dragons and Shenanigans
---
<div class="blurb">
	<h1>Hi there, I'm Ed!</h1>
	<p>I'm a serial DM and nerd. I play a lot of Dungeons and Dragons, and when I'm not playing it, I'm thinking about it. <a href="/about">Read more about my life...</a></p>
</div><!-- /.blurb -->
<ul class="posts">

	{% for post in site.posts %}
		<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br/><a href="/tags#{{ tag }}" class="tag">{{ post.tags }}</a></li>
	{% endfor %}
</ul>
<ul class="tags">
{% for tag in post.tags %}
  <li><a href="/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
{% endfor %}
</ul>
